<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1280,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
    <meta name="title" content="GENOBLOCK">
    <meta name="description" content="Blockchain-based personalized disease prevention management system">
    <meta name="keyword" content="BLOCKCHAIN, GENOME, DISEASE">
    <meta name="author" content="TEAM.J">
    <meta property="og:type" content="website">
    <meta property="og:title" content="GENOBLOCK">
    <meta property="og:site_name" content="GENOBLOCK">
    <meta property="og:description" content="Blockchain-based personalized disease prevention management system">
    <title>User | VCF List</title>
    <!-- Common CSS -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- Common JS -->
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/jquery.textillate.js}"></script>
    <script th:src="@{/js/jquery.lettering.js}"></script>

    <!-- Sub JS -->
    <script th:src="@{/js/slick.min.js}"></script>

    <!-- Sub CSS -->
    <link rel="stylesheet" th:href="@{/css/content.css}">

    <!--[if lt IE 9]>
    <script src="../js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="skip_nav">
    <a href="#content">The body go</a>
    <a href="#nav">Menu go</a>
</div>
<div id="wrap">
    <!-- user top button : s -->
    <!-- user top button : e -->

    <!-- Navigation : s -->
    <th:block th:insert="menu.html">
	</th:block>
    <!-- Navigation : e -->

    <!-- main : s -->
    <main id="container">
        <section id="content">
            <h2 class="blind">Content Area</h2>
            <div class="inner">
                <div class="topTitle type2" id="introTxt">
                    <div>
                        <h2>Register an Algorithm</h2>
                        <p><span class="row r1">To provide a secure for managing and exploring genetic data.</span> <span class="row r2">Leveraging the decentralized nature of blockchain, we ensure the highest level of privacy and security for your sensitive genetic information.</span></p>
                        <script>
                            textEffect();   //text effect
                        </script>
                    </div>
                </div>

                <article class="section">
                    <form>
                        <fieldset class="alWrap">
                            <legend>Register an Algorithm</legend>
                            <div class="inputWrap">
                                <div class="input_rowWrap">
                                    <div class="input_row w100p">
                                        <input type="text" name="al_name" id="al_name" title="Algorithm Name" placeholder="Algorithm Name" class="inputB">
                                    </div>
                                    <div class="input_row">
                                        <strong class="title">Thumbnail Image</strong>
                                        <div class="imgInput_wrap">
                                            <div class="img_input">
                                                <div class="thumb"></div>
                                                <label for="img_file"><span class="blind">Input Image</span></label>
                                                <input type="file" id="img_file" name="img_file" class="img_file">
                                            </div>
                                            <div class="fileStat">
                                                No files have been selected.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input_row">
                                        <div class="titInput">
                                            <label for="al_exp">Explanation</label>
                                            <input type="text" name="al_exp" id="al_exp">
                                        </div>
                                    </div>
                                    <div class="input_row">
                                        <div class="titInput">
                                            <label for="al_type">Type</label>
                                            <select name="al_type" id="al_type">
                                                <option>Select Type</option>
                                                <option value="1">Type1</option>
                                                <option value="2">Type2</option>
                                                <option value="3">Type3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input_row">
                                        <div class="titInput">
                                            <label for="al_lib">Library</label>
                                            <input type="text" name="al_lib" id="al_lib">
                                        </div>
                                    </div>
                                    <div class="input_row">
                                        <div class="titInput">
                                            <label for="al_lic">Licence</label>
                                            <input type="text" name="al_lic" id="al_lic">
                                        </div>
                                    </div>
                                </div>
                                <div class="input_rowWrap">
                                    <div class="addWrap w100p">
                                        <div class="addBox">
                                            <div class="input_row">
                                                <div class="input_add">
                                                    <input type="text" name="paramName" id="paramName1" title="Parameter Name" placeholder="Parameter Name" class="fInput">
                                                    <input type="text" name="paramValue" id="paramValue1" title="Default Value" placeholder="Default Value" class="fInput2">
                                                    <input type="text" name="paramDesc1" id="paramDesc1" title="Description" placeholder="Description" class="fInput3">
                                                    <select name="compulsory" id="compulsory1" title="select a value">
                                                        <option value="">Please select a value</option>
                                                        <option value="true">true</option>
                                                        <option value="false">false</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input_row">
                                                <div class="input_add">
                                                    <input type="text" name="paramName" id="paramName2" title="Parameter Name" placeholder="Parameter Name" class="fInput">
                                                    <input type="text" name="paramValue" id="paramValue2" title="Default Value" placeholder="Default Value" class="fInput2">
                                                    <input type="text" name="paramDesc2" id="paramDesc2" title="Description" placeholder="Description" class="fInput3">
                                                    <select name="compulsory" id="compulsory2" title="select a value">
                                                        <option value="">Please select a value</option>
                                                        <option value="true">true</option>
                                                        <option value="false">false</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input_row">
                                                <div class="input_add">
                                                    <input type="text" name="paramName" id="paramName3" title="Parameter Name" placeholder="Parameter Name" class="fInput">
                                                    <input type="text" name="paramValue" id="paramValue3" title="Default Value" placeholder="Default Value" class="fInput2">
                                                    <input type="text" name="paramDesc3" id="paramDesc3" title="Description" placeholder="Description" class="fInput3">
                                                    <select name="compulsory" id="compulsory3" title="select a value">
                                                        <option value="">Please select a value</option>
                                                        <option value="true">true</option>
                                                        <option value="false">false</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="addBtnArea">
                                            <a href="#" class="addBtn"><span class="blind">Add</span></a>
                                            <a href="#" class="removeBtn"><span class="blind">Remove</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btnArea">
                                <a href="javascript:history.back();" class="btn def">Back</a>
                                <button type="reset" class="btn def reset">Reset</button>
                                <button type="submit" class="btn defBlack">Save</button>
                            </div>
                        </fieldset>
                    </form>
                </article>
            </div>
        </section>

        <!-- footer : s -->
        <footer id="footer">
            <p class="copyright">Copyright (C) JJok-jam. All Rights Reserved.</p>
        </footer>
        <!-- footer : e -->
    </main>
    <!-- main : e -->
</div>
</body>
</html>