<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1280,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
    <meta name="title" content="GENOBLOCK">
    <meta name="description" content="Blockchain-based personalized disease prevention management system">
    <meta name="keyword" content="BLOCKCHAIN, GENOME, DISEASE">
    <meta name="author" content="TEAM.J">
    <meta property="og:type" content="website">
    <meta property="og:title" content="GENOBLOCK">
    <meta property="og:site_name" content="GENOBLOCK">
    <meta property="og:description" content="Blockchain-based personalized disease prevention management system">
    <title>User | VCF List</title>
    <!-- Common CSS -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- Common JS -->
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/jquery.textillate.js}"></script>
    <script th:src="@{/js/jquery.lettering.js}"></script>

    <!-- Sub JS -->
    <script th:src="@{/js/slick.min.js}"></script>

    <!-- Sub CSS -->
    <link rel="stylesheet" th:href="@{/css/content.css}">

    <!--[if lt IE 9]>
    <script src="../js/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div id="wrap">
	    <!-- user top button : s -->
	    <!-- user top button : e -->
	
	    <!-- Navigation : s -->
	    <!-- Navigation : e -->
	
	    <!-- main : s -->
	    <main id="container">
	        <section id="content">
	            <h2 class="blind">Content Area</h2>
	            <div class="inner">
	                <div class="topTitle type2" id="introTxt">
	                    <div>
	                        <h2>Personal Genome Blockchain</h2>
	                        <p><span class="row r1">Ensure anonymity by providing a decentralized identity management system </span> <span class="row r2">that doesn't require the disclosure of personal information.</span></p>
	                        <script>
	                            textEffect();   //text effect
	                        </script>
	                    </div>
	                </div>
	
	                <article class="section">
	                    <div class="data_listWrap">
	                        <div class="data_listTop">
	                        </div>
	                        <ul class="data_list">
	                        </ul>
	                    </div>
	                </article>
	            </div>
	        </section>
	
	        <!-- footer : s -->
	        <footer id="footer">
	            <p class="copyright">Copyright (C) JJok-jam. All Rights Reserved.</p>
	        </footer>
	        <!-- footer : e -->
	    </main>
	    <!-- main : e -->
	</div>
	<script th:src="@{/js/user.js}"></script>
</body>
</html>