<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1280,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
    <meta name="title" content="GENOBLOCK">
    <meta name="description" content="Blockchain-based personalized disease prevention management system">
    <meta name="keyword" content="BLOCKCHAIN, GENOME, DISEASE">
    <meta name="author" content="TEAM.J">
    <meta property="og:type" content="website">
    <meta property="og:title" content="GENOBLOCK">
    <meta property="og:site_name" content="GENOBLOCK">
    <meta property="og:description" content="Blockchain-based personalized disease prevention management system">
    <title>User | VCF List</title>
    <!-- Common CSS -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- Common JS -->
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/jquery.textillate.js}"></script>
    <script th:src="@{/js/jquery.lettering.js}"></script>

    <!-- Sub JS -->
    <script th:src="@{/js/slick.min.js}"></script>

    <!-- Sub CSS -->
    <link rel="stylesheet" th:href="@{/css/content.css}">

    <!--[if lt IE 9]>
    <script src="../js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrap">
    <!-- user top button : s -->
    <!-- user top button : e -->

    <!-- Navigation : s -->
    <!-- Navigation : e -->

    <!-- main : s -->
    <main id="container">
        <section id="content">
            <h2 class="blind">Content Area</h2>
            <div class="inner">
                <div class="topTitle type2" id="introTxt">
                    <div>
                        <h2>Personal Genome Blockchain</h2>
                        <p><span class="row r1">Blockchain could help ensure anonymity by providing a decentralized identity management system </span> <span class="row r2">that doesn't require the disclosure of personal information.</span></p>
                        <script>
                            textEffect();   //text effect
                        </script>
                    </div>
                </div>

                <article class="section">
                    <div class="data_listWrap">
                        <div class="data_listTop">
                            <!-- Data regist popup : S -->
                            <div class="modal_layer">
                                <div class="modal_layerWrap">
                                    <div class="modalBox">
                                        <div class="regist_wrap">
                                            <h3>Data Regist</h3>
                                            <!-- create 클릭 및 첨부파일 드래그 시 인풋 체크 후 값이 없다면, 아래 dataTit에 empty 클래스를 추가하면 input 빨간색으로 바뀝니다. -->
                                            <div class="inputWrap">
                                                <div class="input_rowWrap">
                                                    <div class="input_row">
                                                        <strong class="title">Upload thumbnail image</strong>
                                                        <div class="imgInput_wrap">
                                                            <div class="img_input">
                                                                <div class="thumb"></div>
                                                                <label for="img_file"><span class="blind">Input Image</span></label>
                                                                <input type="file" id="img_file" name="img_file" class="img_file">
                                                            </div>
                                                            <div class="fileStat">
                                                                No files have been selected.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input_row">
                                                        <input type="text" name="dataName" id="dataName" title="Data name" placeholder="Data name" class="inputM">
                                                    </div>
                                                    <div class="input_row">
                                                        <input type="text" name="dataDescription" id="dataDescription" title="Data Description" placeholder="Data description" class="inputM">
                                                    </div>
                                                    <div class="input_row">
                                                        <input type="text" name="keyword" id="keyword" title="Keyword" placeholder="Keyword" class="inputM">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data_upload">
                                                <strong>Drop your files and folders here</strong>
                                                <div class="icon"></div>
                                                <div class="local_upload">
                                                    <input type="file" name="dataFile" id="dataFile" class="blind" title="File Upload">
                                                    <a href="#" class="btn fileBtn upload">Upload</a>
                                                    <p>Consider Zipping large directories to speed up<br> your uploads</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal_btnArea right">
                                            <a href="#" class="btn def modal_close">Cancel</a>
                                            <a href="#" class="btn defBlack">Create</a>
                                        </div>
                                    </div>
                                    <div class="closeArea">
                                        <button type="button" class="modal_close"><span class="blind">Close</span></button>
                                    </div>
                                </div>
                            </div>
                            <!-- Data regist popup : E -->
                        </div>
                        <ul class="data_list">
                            <li>
                                <a href="#">
                                    <div class="dataL_item">
                                        <div class="data_info">
                                            <span>VCF ID</span>
                                            <strong>3739a7c2-2acd-43cf-b75f-a61567f38269</strong>
                                            <ul class="myData_info">
                                                <li>patient name : teamj</li>
                                                <li>chromosome : chr1</li>
                                                <li>vcf : TCGA-55-6543.vcf</li>
                                                <li>gene_ids : BRCA1, GSTP1, p16INK4A, cyclin</li>
                                                <li>regist date : 2023-08-01 12:55:39</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                                <button type="button" class="signBtn"><span class="sr-only">Remove</span></button>
                                <button type="button" class="linkBtn"><span class="sr-only">Remove</span></button>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>

        <!-- footer : s -->
        <footer id="footer">
            <p class="copyright">Copyright (C) JJok-jam. All Rights Reserved.</p>
        </footer>
        <!-- footer : e -->
    </main>
    <!-- main : e -->
</div>
</body>
</html>