@charset "UTF-8";

/** Web Fonts **/
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('../fonts/dingbat_xeicon.css');

/* reset */
html,body{height:100%;overflow-y:hidden}
html{font-size:20px;-webkit-box-sizing: border-box; box-sizing: border-box}
*, *::before, *::after{-webkit-box-sizing:inherit;box-sizing:inherit}
body{margin:0;padding:0;font-size:.8rem;font-weight:400;font-family:'Inter', sans-serif;line-height:1.25;color:#666}
ul, ol, li, dl, dt, dd{margin:0;padding:0;list-style:none}
p, h1, h2, h3, h4, h5, h6{margin:0;padding:0}
a{color:inherit;text-decoration:none}
img{border:0;vertical-align:middle;font-size:0;max-width:100%}
table{border-collapse:collapse;width:100%}
caption, legend{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}
select, input, textarea{color:#555;font-size:.8rem}
select, input{vertical-align:middle}
address, em, i{font-style:normal}
button{border:0;padding:0;background:none;cursor:pointer}
hr{margin:0;border:none;padding:0;display:block}
form, figure, figcaption{padding:0;margin:0}
fieldset{border:none;padding:0;margin:0}
input[type="submit"]{-webkit-appearance:none;-moz-appearance:none;appearance:none}
header, footer, article, section, aside, nav, main{display:block}
button, input, optgroup, select, textarea{font-family:inherit;font-size:inherit;font-weight:inherit;margin:0}

/* screen reader only */
.sr-only, .hidden, .blind, .IR{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}

/* SKIP NAVIGATION */
#skip_nav{position:relative;z-index:9999}
#skip_nav a{position:absolute;top:-40px;left:0;width:100%;padding:5px 0;background-color:#2E63FB;font-size:14px;line-height:30px;color:#FFF;text-align:center;transition:all 0.4s}
#skip_nav a:hover,#skip_nav a:focus,#skip_nav a:active{top:0;text-decoration:none}

/* ALIGN */
.left{text-align:left !important}
.center{text-align:center !important}
.right{text-align:right !important}

/* COLOR */
.black{color:#000 !important}

/* BUTTON */
.btn{display:inline-block;padding:.35rem 1rem;text-align:center;border-radius:0.15rem;color:#222;font-size:.7rem;background:#fff;vertical-align:middle;transition:all .3s}
.btn:hover{-webkit-box-shadow:0 2px 8px rgba(60, 64, 67, 0.3);-moz-box-shadow:0 2px 8px rgba(60, 64, 67, 0.3);box-shadow:0 2px 8px rgba(60, 64, 67, 0.3);}
.btn.def{padding:0 1rem;height:1.4rem;line-height:1.3rem;background:#fff;border:1px solid #222}
.btn.defBlack{padding:0 1rem;height:1.4rem;line-height:1.3rem;border:1px solid #222;color:#fff;background:#222}
.btn.edge{border-radius:.7rem}

.btn.logout{min-width:6rem;border:1px solid #666;font-size:.8rem;font-weight:700}
.btn.logout:hover{background:#f1f3f4}
.btn.blue{border:0;height:1.4rem;line-height:1.4rem;padding:0 1.25rem;color:#fff;font-size:.7rem;background:#2E63FB}
.btn.blue:hover{background:#2150fb}
.btn.fileBtn{padding:0;width:7.5rem;height:2rem;line-height:2rem;background:#2E63FB;color:#fff;font-weight:bold}

.btn.ex{height:1.4rem;line-height:1.4rem;padding:0 1.1rem;color:#fff;font-weight:700;background:#222;border-radius:.7rem}

.maxBtn{display:inline-block;width:1.4rem;height:1.4rem;background:url(../images/common/icon_max.png) center no-repeat;vertical-align:middle}
.minBtn{display:inline-block;width:1.4rem;height:1.4rem;background:url(../images/common/icon_min.png) center no-repeat;vertical-align:middle}
.viewBtn{display:inline-block;width:.9rem;height:.9rem;background:url(../images/common/icon_viewShow.png) center no-repeat;vertical-align:middle}
.viewBtn.no{display:inline-block;width:.9rem;height:.9rem;background:url(../images/common/icon_viewHide.png) center no-repeat;vertical-align:middle}
.sortBtn{display:inline-block;width:.9rem;height:.9rem;background:url(../images/common/icon_sort.png) center no-repeat;vertical-align:middle}
.modifyBtn{display:inline-block;width:1rem;height:1rem;background:url(../images/common/icon_modify.png) center no-repeat;vertical-align:middle}
.removeBtn{display:inline-block;width:1.4rem;height:1.4rem;background-image:url(../images/common/icon_remove.png);background-position:center;background-repeat:no-repeat;transition:all .3s;border-radius:.25rem}
.refreshBtn{display:inline-block;width:1.4rem;height:1.4rem;background-image:url(../images/common/icon_refresh2.png);background-position:center;background-repeat:no-repeat;background-size:94%;transition:all .3s;border-radius:.25rem}
.removeBtn:hover,
.refreshBtn:hover{background-color:#e8e9ea}
.removeBtn{display:inline-block;width:1.4rem;height:1.4rem;background-image:url(../images/common/icon_remove.png);background-position:center;background-repeat:no-repeat;transition:all .3s;border-radius:.5rem}
.signBtn{display:inline-block;width:2.3rem;height:2.3rem;background-image:url(../images/common/icon_sign1.png);background-size:cover;background-position:center;background-repeat:no-repeat;transition:all .3s;border-radius:.9rem}
.signBtn2{display:inline-block;width:2.3rem;height:2.3rem;background-image:url(../images/common/icon_sign2.png);background-size:cover;background-position:center;background-repeat:no-repeat;transition:all .3s;border-radius:.9rem}
.linkBtn{display:inline-block;width:2.3rem;height:2.3rem;background-image:url(../images/common/icon_link1.png);background-size:cover;background-position:center;background-repeat:no-repeat;transition:all .3s;border-radius:.9rem}
.linkBtn2{display:inline-block;width:2.3rem;height:2.3rem;background-image:url(../images/common/icon_link2.png);background-size:contain;background-position:center;background-repeat:no-repeat;transition:all .3s;border-radius:.9rem}

/* Form */
input[type=text]{padding:.2rem .5rem;font-size:.7rem;height:1.4rem;border:1px solid #ddd;border-radius:3px}
input[type=text]::-webkit-input-placeholder{color:#aaa;font-size:.7rem}
input[type=text]:-moz-placeholder{color:#aaa;font-size:.7rem}
input[type=text]::-moz-placeholder{color:#aaa;font-size:.7rem}
input[type=text]:-ms-input-placeholder{color:#aaa;font-size:.7rem}

select{padding:0 0 0 .3rem;height:1.4rem;border:1px solid #ddd;border-radius:3px;vertical-align:middle}

input[type=text]:disabled,
select:disabled{background:#fafafa;color:#555 !important;border-color:#ddd}

.chk_custom{position:relative}
.chk_custom input[type="checkbox"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.chk_custom label{position:relative;padding-left:.75rem;text-indent:.25rem;min-width:.75rem}
.chk_custom label:hover{cursor:pointer}
.chk_custom label:before{content:"";position:absolute;left:0;top:.1rem;width:.75rem;height:.75rem;border:1px solid #ccc}
.chk_custom input[type="checkbox"]+label:after{content:"";position:absolute;left:.125rem;top:.25rem;width:.55rem;height:.55rem;background:url(../images/common/icon_chk.png) no-repeat;background-size:100%;overflow:hidden;transition:all .2s;transform:scale(0);opacity:0}
.chk_custom input[type="checkbox"]:checked+label:after{transform:scale(1);opacity:1}

/* CURSOR */
.cursor_p{cursor:pointer}

/* TABLE */
.tbl{}
.tbl tr th,
.tbl tr td{font-size:.7rem;font-weight:400;padding:.5rem .3rem;border-bottom:1px solid #eee;border-right:1px solid #eee}
.tbl tr th{color:#666}
.tbl tr td{color:#444}
.tbl tr th:last-child,
.tbl tr td:last-child{border-right:0}

.tbl.type2 tbody tr{transition:all .3s}
.tbl.type2 tbody tr:hover{background:#f8f9fa}
.tbl.type2 tbody tr:hover td{color:#000;font-weight:500}
.tbl.type2 tr th{text-align:left;border-bottom-color:#aaa}
.tbl.type2 tr th,
.tbl.type2 tr td{border-right:0}

.tbl.type3 tr th{text-align:left;border-bottom-color:#aaa}
.tbl.type3 tr th,
.tbl.type3 tr td{border-right:0}
.tbl.type3 tr td{color:#444}

.tbl.type4 tr th{text-align:left;border-bottom-color:#aaa;border-right:0}
.tbl.type4 tr th,
.tbl.type4 tr td{padding:.5rem 1rem}
.tbl.type4 tr td{color:#444}
.tbl.type4 tbody tr{transition:all .3s}
.tbl.type4 tbody tr:hover{background:#f8f9fa}
.tbl.type4 tbody tr:hover td{color:#000}

.tbl.def{border-top:1px solid #acacac}
.tbl.def caption{position:static}
.tbl.def tr th,
.tbl.def tr td{padding:.3rem 1rem;border-bottom:1px solid #eee;border-right:1px solid #eee;color:#000;text-align:left}
.tbl.def tr th:last-child,
.tbl.def tr td:last-child{border-right:0}
.tbl.def tr th{background:#F8F9FA}

/* Loading */
#loading{position:fixed;left:0;right:0;top:0;bottom:0;width:100%;height:100%;vertical-align:middle;background:rgba(0,0,0,.4);text-align:center;z-index:10000}
#loading:before{content:"";display:inline-block;height:100%;vertical-align:middle}
#loading .loading_box{display:inline-block;width:35rem;height:27.5rem;background:#fff;border-radius:.5rem;vertical-align:middle}
#loading .loading_box .loading_wrap{display:table;width:100%;height:100%;padding:0 1rem}
#loading .loading_box .loading_wrap .mid{display:table-cell;vertical-align:middle}
#loading .loading_box .loading_wrap .mid img{margin-top:-2rem}
#loading .loading_box .loading_wrap .mid .loading_ani{}
#loading .loading_box .loading_wrap .mid .msg{margin-top:2rem}
#loading .loading_box .loading_wrap .mid .msg strong{color:#222;font-size:.9rem}
#loading .loading_box .loading_wrap .mid .msg p{margin-top:.5rem;color:#888;font-size:.7rem}

/* Alert */
.alert{position:fixed;left:0;right:0;top:0;bottom:0;width:100%;height:100%;vertical-align:middle;background:rgba(0,0,0,.4);text-align:center;z-index:10000}
.alert:before{content:"";display:inline-block;height:100%;vertical-align:middle}
.alert .alert_box{position:relative;display:inline-block;width:25rem;min-height:12.5rem;background:#fff;border-radius:.5rem;vertical-align:middle}
.alert .alert_box .alert_wrap{display:table;width:100%;min-height:8.75rem;padding:1rem}
.alert .alert_box .alert_wrap .mid{display:table-cell;vertical-align:middle;color:#222}
.alert .alert_box .alert_wrap .mid img{margin-bottom:.2rem}
.alert .btnArea{margin:0;padding:1rem 1.5rem;border-top:1px solid #eee}

/* Paging */
.paging{margin-top:1.75rem;text-align:center}
.paging a,
.paging strong{display:inline-block;min-width:1rem;height:1rem;line-height:1rem;margin-left:.75rem;font-size:.8rem;color:#888;vertical-align:top;transition:all .2s}
.paging strong{color:#000}
.paging a:hover{color:#2E63FB}
.paging a:first-of-type{margin-left:0}
.paging a.first:before,
.paging a.prev:before,
.paging a.next:before,
.paging a.last:before{content:"";display:inline-block;width:1rem;height:1rem;background-repeat:no-repeat;background-position:center}
.paging a.first:before{background-image:url(../images/common/icon_paging_first.png)}
.paging a.prev:before{background-image:url(../images/common/icon_paging_prev.png)}
.paging a.next:before{background-image:url(../images/common/icon_paging_next.png)}
.paging a.last:before{background-image:url(../images/common/icon_paging_last.png)}

/* Loading css */
.loading_ani{position:relative;width:8rem;height:8rem;margin:0 auto}
.cssload-dots {width: 0;height: 0;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto;outline: 1px solid red;filter:url(#goo);-o-filter:url(#goo);-ms-filter:url(#goo);-webkit-filter:url(#goo);-moz-filter:url(#goo)}
.cssload-dot {width: 0;height: 0;position: absolute;left: 0;top: 0}
.cssload-dot:before {content: "";width: 34px;height: 34px;border-radius: 49px;background: rgb(251,211,1);position: absolute;left: 50%;transform: translateY(0);-o-transform: translateY(0);-ms-transform: translateY(0);-webkit-transform: translateY(0);-moz-transform: translateY(0);margin-left: -17.5px;margin-top: -17.5px}
.cssload-dot:nth-child(1) {animation: cssload-dot-rotate-1 1.6s 0s linear infinite;-o-animation: cssload-dot-rotate-1 1.6s 0s linear infinite;-ms-animation: cssload-dot-rotate-1 1.6s 0s linear infinite;-webkit-animation: cssload-dot-rotate-1 1.6s 0s linear infinite;-moz-animation: cssload-dot-rotate-1 1.6s 0s linear infinite}
.cssload-dot:nth-child(1):before {background-color: rgb(255,50,112);animation: cssload-dot-move 1.6s 0s ease infinite;-o-animation: cssload-dot-move 1.6s 0s ease infinite;-ms-animation: cssload-dot-move 1.6s 0s ease infinite;-webkit-animation: cssload-dot-move 1.6s 0s ease infinite;-moz-animation: cssload-dot-move 1.6s 0s ease infinite}
.cssload-dot:nth-child(2) {animation: cssload-dot-rotate-2 1.6s 0.4s linear infinite;-o-animation: cssload-dot-rotate-2 1.6s 0.4s linear infinite;-ms-animation: cssload-dot-rotate-2 1.6s 0.4s linear infinite;-webkit-animation: cssload-dot-rotate-2 1.6s 0.4s linear infinite;-moz-animation: cssload-dot-rotate-2 1.6s 0.4s linear infinite}
.cssload-dot:nth-child(2):before {background-color: rgb(32,139,241);animation: cssload-dot-move 1.6s 0.4s ease infinite;-o-animation: cssload-dot-move 1.6s 0.4s ease infinite;-ms-animation: cssload-dot-move 1.6s 0.4s ease infinite;-webkit-animation: cssload-dot-move 1.6s 0.4s ease infinite;-moz-animation: cssload-dot-move 1.6s 0.4s ease infinite}
.cssload-dot:nth-child(3) {animation: cssload-dot-rotate-3 1.6s 0.8s linear infinite;-o-animation: cssload-dot-rotate-3 1.6s 0.8s linear infinite;-ms-animation: cssload-dot-rotate-3 1.6s 0.8s linear infinite;-webkit-animation: cssload-dot-rotate-3 1.6s 0.8s linear infinite;-moz-animation: cssload-dot-rotate-3 1.6s 0.8s linear infinite}
.cssload-dot:nth-child(3):before {background-color: rgb(175,225,2);animation: cssload-dot-move 1.6s 0.8s ease infinite;-o-animation: cssload-dot-move 1.6s 0.8s ease infinite;-ms-animation: cssload-dot-move 1.6s 0.8s ease infinite;-webkit-animation: cssload-dot-move 1.6s 0.8s ease infinite;-moz-animation: cssload-dot-move 1.6s 0.8s ease infinite}
.cssload-dot:nth-child(4) {animation: cssload-dot-rotate-4 1.6s 1.2s linear infinite;-o-animation: cssload-dot-rotate-4 1.6s 1.2s linear infinite;-ms-animation: cssload-dot-rotate-4 1.6s 1.2s linear infinite;-webkit-animation: cssload-dot-rotate-4 1.6s 1.2s linear infinite;-moz-animation: cssload-dot-rotate-4 1.6s 1.2s linear infinite}
.cssload-dot:nth-child(4):before {background-color: rgb(251,211,1);animation: cssload-dot-move 1.6s 1.2s ease infinite;-o-animation: cssload-dot-move 1.6s 1.2s ease infinite;-ms-animation: cssload-dot-move 1.6s 1.2s ease infinite;-webkit-animation: cssload-dot-move 1.6s 1.2s ease infinite;-moz-animation: cssload-dot-move 1.6s 1.2s ease infinite}
.cssload-dot:nth-child(5):before {z-index: 100;width: 44px;height: 44px;margin-left: -21.75px;margin-top: -21.75px;animation: cssload-dot-colors 1.6s ease infinite;-o-animation: cssload-dot-colors 1.6s ease infinite;-ms-animation: cssload-dot-colors 1.6s ease infinite;-webkit-animation: cssload-dot-colors 1.6s ease infinite;-moz-animation: cssload-dot-colors 1.6s ease infinite}

@keyframes cssload-dot-move {
    0% {transform: translateY(0)}
    18%, 22% {transform: translateY(-68px)}
    40%, 100% {transform: translateY(0)}
}

@-o-keyframes cssload-dot-move {
    0% {-o-transform: translateY(0)}
    18%, 22% {-o-transform: translateY(-68px)}
    40%, 100% {-o-transform: translateY(0)}
}

@-ms-keyframes cssload-dot-move {
    0% {-ms-transform: translateY(0)}
    18%, 22% {-ms-transform: translateY(-68px)}
    40%, 100% {-ms-transform: translateY(0)}
}

@-webkit-keyframes cssload-dot-move {
    0% {-webkit-transform: translateY(0)}
    18%, 22% {-webkit-transform: translateY(-68px)}
    40%, 100% {-webkit-transform: translateY(0)}
}

@-moz-keyframes cssload-dot-move {
    0% {-moz-transform: translateY(0)}
    18%, 22% {-moz-transform: translateY(-68px)}
    40%, 100% {-moz-transform: translateY(0)}
}

@keyframes cssload-dot-colors {
    0% {background-color: rgb(251,211,1)}
    25% {background-color: rgb(255,50,112)}
    50% {background-color: rgb(32,139,241)}
    75% {background-color: rgb(175,225,2)}
    100% {background-color: rgb(251,211,1)}
}

@-o-keyframes cssload-dot-colors {
    0% {background-color: rgb(251,211,1)}
    25% {background-color: rgb(255,50,112)}
    50% {background-color: rgb(32,139,241)}
    75% {background-color: rgb(175,225,2)}
    100% {background-color: rgb(251,211,1)}
}

@-ms-keyframes cssload-dot-colors {
    0% {background-color: rgb(251,211,1)}
    25% {background-color: rgb(255,50,112)}
    50% {background-color: rgb(32,139,241)}
    75% {background-color: rgb(175,225,2)}
    100% {background-color: rgb(251,211,1)}
}

@-webkit-keyframes cssload-dot-colors {
    0% {background-color: rgb(251,211,1)}
    25% {background-color: rgb(255,50,112)}
    50% {background-color: rgb(32,139,241)}
    75% {background-color: rgb(175,225,2)}
    100% {background-color: rgb(251,211,1)}
}

@-moz-keyframes cssload-dot-colors {
    0% {background-color: rgb(251,211,1)}
    25% {background-color: rgb(255,50,112)}
    50% {background-color: rgb(32,139,241)}
    75% {background-color: rgb(175,225,2)}
    100% {background-color: rgb(251,211,1)}
}

@keyframes cssload-dot-rotate-1 {
    0% {transform: rotate(-105deg)}
    100% {transform: rotate(270deg)}
}

@-o-keyframes cssload-dot-rotate-1 {
    0% {-o-transform: rotate(-105deg)}
    100% {-o-transform: rotate(270deg)}
}

@-ms-keyframes cssload-dot-rotate-1 {
    0% {-ms-transform: rotate(-105deg)}
    100% {-ms-transform: rotate(270deg)}
}

@-webkit-keyframes cssload-dot-rotate-1 {
    0% {-webkit-transform: rotate(-105deg)}
    100% {-webkit-transform: rotate(270deg)}
}

@-moz-keyframes cssload-dot-rotate-1 {
    0% {-moz-transform: rotate(-105deg)}
    100% {-moz-transform: rotate(270deg)}
}

@keyframes cssload-dot-rotate-2 {
    0% {transform: rotate(165deg)}
    100% {transform: rotate(540deg)}
}

@-o-keyframes cssload-dot-rotate-2 {
    0% {-o-transform: rotate(165deg)}
    100% {-o-transform: rotate(540deg)}
}

@-ms-keyframes cssload-dot-rotate-2 {
    0% {-ms-transform: rotate(165deg)}
    100% {-ms-transform: rotate(540deg)}
}

@-webkit-keyframes cssload-dot-rotate-2 {
    0% {-webkit-transform: rotate(165deg)}
    100% {-webkit-transform: rotate(540deg)}
}

@-moz-keyframes cssload-dot-rotate-2 {
    0% {-moz-transform: rotate(165deg)}
    100% {-moz-transform: rotate(540deg)}
}

@keyframes cssload-dot-rotate-3 {
    0% {transform: rotate(435deg)}
    100% {transform: rotate(810deg)}
}

@-o-keyframes cssload-dot-rotate-3 {
    0% {-o-transform: rotate(435deg)}
    100% {-o-transform: rotate(810deg)}
}

@-ms-keyframes cssload-dot-rotate-3 {
    0% {-ms-transform: rotate(435deg)}
    100% {-ms-transform: rotate(810deg)}
}

@-webkit-keyframes cssload-dot-rotate-3 {
    0% {-webkit-transform: rotate(435deg)}
    100% {-webkit-transform: rotate(810deg)}
}

@-moz-keyframes cssload-dot-rotate-3 {
    0% {-moz-transform: rotate(435deg)}
    100% {-moz-transform: rotate(810deg)}
}

@keyframes cssload-dot-rotate-4 {
    0% {transform: rotate(705deg)}
    100% {transform: rotate(1080deg)}
}

@-o-keyframes cssload-dot-rotate-4 {
    0% {-o-transform: rotate(705deg)}
    100% {-o-transform: rotate(1080deg)}
}

@-ms-keyframes cssload-dot-rotate-4 {
    0% {-ms-transform: rotate(705deg)}
    100% {-ms-transform: rotate(1080deg)}
}

@-webkit-keyframes cssload-dot-rotate-4 {
    0% {-webkit-transform: rotate(705deg)}
    100% {-webkit-transform: rotate(1080deg)}
}

@-moz-keyframes cssload-dot-rotate-4 {
    0% {-moz-transform: rotate(705deg)}
    100% {-moz-transform: rotate(1080deg)}
}

/* error */
.error_wrap{font-family: 'Poppins', sans-serif;display:table;width:100%;height:100%;color:#222}
.error_wrap .error_content{display:table-cell;vertical-align:middle;text-align:center}
.error_wrap .error_content h1{margin-top:1.5rem;font-size:1.3rem}
.error_wrap .error_content p{max-width:21rem;margin:.5rem auto 1.5rem;font-size:.75rem;word-break:keep-all}
.error_wrap .error_content .homeBtn{display:inline-block;padding:0 2rem;height:2.5rem;line-height:2.5rem;color:#fff;text-align:center;font-size:.8rem;font-weight:bold;background:#2E63FB;border-radius:1.25rem;box-shadow:0 .5rem 1rem rgba(46,99,251,.5);transition:all .3s}
.error_wrap .error_content .homeBtn:hover{box-shadow:0 .15rem .5rem rgba(46,99,251,.5)}

/* Responsive */
@media all and (max-width:1280px){
    html{font-size:18px}
}