    <!-- Navigation : s -->
    <nav id="nav">
        <div class="navWrap">
            <div class="navTop">
                <div>
                    <button type="button" class="menuToggle">
                        <span class="blind">Menu Open</span>
                        <em>
                            <i></i>
                            <i></i>
                            <i></i>
                        </em>
                    </button>
                </div>
                <h1 class="logo">
                    <a href="#"><img src="../images/common/logo.svg" alt="KAI"></a>
                </h1>
            </div>
            <!-- 메뉴의 a태그에 on 클래스가 있을시에 활성화 -->
            <ul id="gnb">
                <li>
                    <a th:href="@{/user/}">
                        <div class="menuItem">
                            <img th:src="@{/images/common/icon_menu_0.png}" alt=""><span>user main</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/analysis/}">
                        <div class="menuItem">
                            <img src="../images/common/icon_menu_1.png" alt=""><span>analsysi main</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/analysis/result}">
                        <div class="menuItem">
                            <img src="../images/common/icon_menu_2.png" alt=""><span>anlaysis result</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/storage/}">
                        <div class="menuItem">
                            <img src="../images/common/icon_menu_3.png" alt=""><span>storage main</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navigation : e -->